body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f4f6f9;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

button {
  padding: 6px 12px;
  background: #007a2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover { opacity: 0.9; }

.table-wrapper { overflow-x: auto; }

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  min-width: 700px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th { background: #007a2f; color: white; }

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
  padding: 20px;
}

input, select {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

/* MOBILE CARD VIEW */
@media (max-width:600px){

  table, thead, tbody, th, td, tr{
    display:block;
  }

  thead{ display:none; }

  tr{
    margin-bottom:15px;
    background:white;
    padding:10px;
    border-radius:6px;
  }

  td{
    border:none;
    text-align:left;
    padding:4px 0;
  }

  td::before{
    font-weight:bold;
    display:block;
  }
}
