body {
  font-family: Arial;
  background: #f4f6f9;
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.header-buttons button {
  margin-left: 8px;
}

button {
  padding: 6px 12px;
  background: #007a2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  min-width: 750px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background: #007a2f;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
}

.modal-box {
  background: white;
  width: 450px;
  max-height: 90vh;
  margin: 40px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 10px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}

.modal-body {
  padding: 15px;
  overflow-y: auto;
}

input, select {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* MOBILE */
@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons {
    margin-top: 10px;
  }

  .modal-box {
    width: 95%;
    margin: 20px auto;
  }

  table {
    min-width: 600px;
  }
}
